<div class="support-widget" data-support-widget>
  <div class="support-widget__panel" data-support-panel aria-hidden="true">
    <div class="support-widget__panel-header">
      <span class="support-widget__panel-title">Сделать обращение</span>
      <button type="button" class="support-widget__close" data-support-close title="Свернуть" aria-label="Свернуть">×</button>
    </div>
    <iframe
      class="support-widget__iframe"
      data-support-iframe
      title="Техподдержка"
      src="about:blank"
    ></iframe>
  </div>
  <div class="support-widget__bottom">
    <div class="support-widget__menu" data-support-menu hidden>
      <button type="button" class="support-widget__menu-item" data-my-appeals>
        Показать мои обращения
      </button>
      <button type="button" class="support-widget__menu-item" data-open-ticket>
        Сделать обращение
      </button>
    </div>
    <button
      type="button"
      class="support-widget__trigger"
      data-support-toggle
      aria-expanded="false"
      aria-haspopup="true"
      title="Открыть поддержку"
    >
      <img src="/icons/appeal.png" alt="Помощь" class="support-widget__trigger-icon">
    </button>
  </div>
</div>