<div class="card">
  <h3 class="title">Новый бюджет</h3>
  <form>
    <input class="input" id="title_input" type="text" name="title" placeholder="Название" autocomplete="off">
    <input class="input" id="description_input" type="text" name="description" placeholder="Описание" autocomplete="off">
    <input class="input" id="target_input" type="number" name="target" placeholder="Планируемый бюджет" autocomplete="off">
    <input class="input" id="currency_input" type="text" name="currency" placeholder="Валюта (USD, RUB...)" autocomplete="off">
    <input class="input" id="start_at_input" type="datetime-local" name="start_at">
    <input class="input" id="end_at_input" type="datetime-local" name="end_at">
    <p class="error-message" id="error_message"></p>
    <input class="btn" type="submit" value="Создать бюджет">
  </form>
</div>