<div class="budget-form-card">
    <h3 class="budget-form-title">Новый бюджет</h3>
    <form>
        <label>
            <span>*Название</span>
            <input class="budget-form-input" id="title_input" type="text" name="title" placeholder="Название" autocomplete="off">
        </label>
        <label>
            <span>*Описание</span>
            <input class="budget-form-input" id="description_input" type="text" name="description" placeholder="Описание" autocomplete="off">
        </label>
        <label>
            <span>*Планируемый бюджет</span>
            <input class="budget-form-input" id="target_input" type="number" step="any" name="target" placeholder="100" autocomplete="off">
        </label>
        <label>
            *Валюта
            <select class="budget-form-input" id="currency_input" name="currency">
                {{#each currency_list}}
                    <option class="currency_option" value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </label>
        <br>
        <label>
            <span>*Начало</span>
            <input class="budget-form-input" id="start_at_input" type="date" name="start_at">
        </label>
        <label>
            <span>Конец</span>
            <input class="budget-form-input" id="end_at_input" type="date" name="end_at">
        </label>
        <p class="budget-form-error" id="error_message"></p>
        <input class="budget-form-btn" type="submit" value="Создать бюджет">
    </form>
</div>