<div class="budget-form-card">
  <h3 class="budget-form-title">Новый бюджет</h3>
  <form>
    <input class="budget-form-input" id="title_input" type="text" name="title" placeholder="Название" autocomplete="off">
    <input class="budget-form-input" id="description_input" type="text" name="description" placeholder="Описание" autocomplete="off">
    <input class="budget-form-input" id="target_input" type="number" name="target" placeholder="Планируемый бюджет" autocomplete="off">
    <input class="budget-form-input" id="currency_input" type="text" name="currency" placeholder="Валюта (USD, RUB...)" autocomplete="off">
    <input class="budget-form-input" id="start_at_input" type="date" name="start_at">
    <input class="budget-form-input" id="end_at_input" type="date" name="end_at">
    <p class="budget-form-error" id="error_message"></p>
    <input class="budget-form-btn" type="submit" value="Создать бюджет">
  </form>
</div>