# Backend
VITE_SERVER_URL=http://localhost:8081

# Frontend
PORT=5173
VITE_ENABLE_SW=false
VITE_ENABLE_SUPPORT=true
DEBUG=true
CERT_FILE="path/to/your/fullchain.pem"
KEY_FILE="path/to/your/privkey.key"
