<div class="expenses-balance">
    <p class="expenses-balance__label">Расходы</p>
    <p class="expenses-balance__amount">
        <img class="expenses-balance__icon expenses-balance__icon--down" src="/icons/balance_down.png" alt="">
        <span class="expenses-balance__currency">{{currency}}</span>
        <span class="expenses-balance__value">{{amount}}</span>
    </p>
</div>