<div class="expenses-balance">
    <p class="expenses-balance__label">Расходы</p>
    <p class="expenses-balance__amount">
        <img class="balance_down_icon" src="/icons/balance_down.png" alt=""><span class="expenses-balance__currency">{{currency}}</span>{{balance}}
    </p>
</div>