<form class="profile-edit-form" id="profile-edit-form">
    <div class="profile-edit__field">
        <label class="profile-edit__label" for="edit-username">Логин</label>
        <input class="profile-edit__input" id="edit-username" type="text" placeholder="Новый логин" autocomplete="off">
    </div>
    <div class="profile-edit__field">
        <label class="profile-edit__label" for="edit-email">Email</label>
        <input class="profile-edit__input" id="edit-email" type="text" placeholder="Новый email" autocomplete="off">
    </div>

    <div class="profile-edit__divider"></div>
    <div class="profile-edit__section-label">Смена пароля</div>

    <div class="profile-edit__field">
        <label class="profile-edit__label" for="edit-password-current">Текущий пароль</label>
        <input class="profile-edit__input" id="edit-password-current" type="password" placeholder="••••••••">
    </div>
    <div class="profile-edit__field">
        <label class="profile-edit__label" for="edit-password-new">Новый пароль</label>
        <input class="profile-edit__input" id="edit-password-new" type="password" placeholder="••••••••">
    </div>
    <div class="profile-edit__field">
        <label class="profile-edit__label" for="edit-password-confirm">Повторите пароль</label>
        <input class="profile-edit__input" id="edit-password-confirm" type="password" placeholder="••••••••">
    </div>

    <p class="profile-edit__error" id="edit-error"></p>

    <div class="profile-edit__actions">
        <button type="submit" class="profile-edit__btn-save">Сохранить изменения</button>
        <button type="button" class="profile-edit__btn-cancel" id="edit-cancel-btn">Отмена</button>
    </div>
</form>