<div class="balance-page">
    <h2 class="balance-title">Баланс</h2>
    <p class="balance-date">{{date}}</p>
    <div class="main_row"></div>
    <hr class="balance-divider">
    <div class="balance-row row"></div>
</div>