.logout_btn {
    color: red;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 0%);
    cursor: pointer;
}

.logout_btn:hover, .logout_btn:focus, .logout_btn:active {
    border: red solid 1px;
}
