<div class="profile-page">
    <div class="profile__avatar"></div>
    <div class="profile-divider"></div>
    <div class="profile__info"></div>
    <div class="profile__actions">
        <button type="button" class="profile-btn-edit" id="profile-edit-btn">Редактировать профиль</button>
        <button type="button" class="profile-btn-logout" id="profile-logout-btn">Выйти из аккаунта</button>
    </div>
</div>