<div class="modal-form">
  <div class="modal-form__card">
    <button class="modal-form__close-btn" type="button">×</button>
    <div class="modal-form__container" id="form_container"></div>
  </div>
</div>