<div class="modal-form-overlay">
  <div class="modal-form-card">
    <button class="modal-form-close-btn" type="button">×</button>
    <div class="modal-form-container" id="form_container"></div>
  </div>
</div>