<div class="avatar-edit-form">
    <label class="avatar-edit__upload-btn" for="avatar-file-input">
        Выбрать фото
        <input type="file" id="avatar-file-input" accept="image/*" style="display:none;" />
    </label>

    <p class="avatar-edit__hint">JPG, PNG или GIF · до 5 МБ</p>
    <p class="avatar-edit__error" id="avatar-error"></p>

    <div class="avatar-edit__actions">
        <button type="button" class="avatar-edit__btn-save" id="avatar-save-btn">Сохранить</button>
        <button type="button" class="avatar-edit__btn-cancel" id="avatar-cancel-btn">Отмена</button>
    </div>
</div>