form {
    margin: auto;
    color: #ffffff;
    width: 450px;
    height: 500px;
    box-shadow: 0 0 50px 10px #535bf2;
    border-radius: 10px;
    text-align: center;
}

form h3 {
    font-weight: bold;
    font-size: 36px;
}

input {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto auto 20px;
    border: #484FFF solid 1px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background-color: #191919;
}

input:hover {
    border: #5056E6 solid 1px !important;
}

input:focus {
    border: #5C5FB8 solid 1px !important;
}

.valid {
    border: #86E58A solid 1px !important;
}

.invalid {
    border: #FF2222 solid 1px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #191919 inset !important;
    box-shadow: 0 0 0 30px #191919 inset !important;
    -webkit-text-fill-color: #ffffff !important;
}

input[type="submit"] {
    width: auto;
    border: none;
    padding: 10px 30px;
    background-color: #484FFF;
}

input[type="submit"]:hover {
    cursor: pointer;
    border: none !important;
    background-color: #5056E6;
}

input[type="submit"]:disabled {
    cursor: not-allowed;
    background-color: #9FA2F2;
}

input[type="submit"]:focus {
    border: none !important;
    background-color: #5C5FB8;
}

p {
    font-size: 14px;
}

p a {
    text-decoration: none;
    color: #484FFF;
}

#error_message {
    color: red;
    font-size: 16px;
    overflow-wrap: normal;
}

.page__content {
    min-height: 90vh;
}
