form {
    margin: auto;
    color: #ffffff;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 50px 10px #535bf2;
    border-radius: 10px;
    text-align: center;
}

form h3 {
    font-weight: bold;
    font-size: 36px;
}

input {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto auto 20px;
    border: #484FFF solid 1px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background-color: #191919;
}

input[type="submit"] {
    width: auto;
    border: none;
    padding: 10px 30px;
    background-color: #484FFF;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

p {
    font-size: 14px;
}

p a {
    text-decoration: none;
    color: #484FFF;
}

#error_message {
    color: red;
    font-size: 16px;
    overflow-wrap: normal;
}

.page__content {
    min-height: 90vh;
}
