<form>
    <h3>Вход</h3>
    <input id="username_input" type="text" name="username" placeholder="Имя" autocomplete="off" autofocus>
    <input id="password_input" type="password" name="password" placeholder="Пароль" autocomplete="off">
    {{#equal mode "registration"}}
        <input id="password_input2" type="password" name="password2" placeholder="Пароль снова" autocomplete="off" required>
        <input id="email_input" type="email" name="email" placeholder="Email" autocomplete="off" required>
    {{/equal}}
    <p id="error_message"></p>
    {{#equal mode "login"}}
        <input type="submit" value="Войти">
        <p>Ещё нет аккаунта? <a href="/signup">Зарегистрироваться</a></p>
    {{else}}
        <input type="submit" value="Зарегистрироваться">
        <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
    {{/equal}}
</form>