<form>
    <label>Username
        <input id="username_input" type="text" name="username" placeholder="Username">
    </label>
    <span id="username_error" style="display: none; color: red"></span>
    <br>
    <label> Password
        <input id="password_input" type="password" name="password" placeholder="Password">
    </label>
    <span id="password_error" style="display: none; color: red"></span>
    <br>
    <input type="submit" value="Login">
</form>