<form>
    <h3>Вход</h3>
    <input id="username_input" type="text" name="username" placeholder="Имя" autocomplete="off">
    <input id="password_input" type="password" name="password" placeholder="Пароль" autocomplete="off">
    <p id="error_message"></p>
    <input type="submit" value="Войти">
    <p>Ещё нет аккаунта? <a href="/">Зарегистрироваться</a></p>
</form>