<div class="avatar-edit-page">
    <div class="profile-edit__toast profile-edit__toast--success" id="toast-success" style="display:none;">
        <span class="profile-edit__toast-dot profile-edit__toast-dot--green"></span>
        Аватар успешно обновлён!
    </div>
    <div class="profile-edit__toast profile-edit__toast--error" id="toast-error" style="display:none;">
        <span class="profile-edit__toast-dot profile-edit__toast-dot--red"></span>
        Не удалось загрузить аватар
    </div>

    <h1 class="profile-edit__title">Изменить аватар</h1>
    <div class="avatar-edit__form-container"></div>
</div>