<div class="profile-edit-page">
    <div class="profile-edit__toast profile-edit__toast--success" id="toast-success" style="display:none;">
        <span class="profile-edit__toast-dot profile-edit__toast-dot--green"></span>
        Изменения успешно сохранены!
    </div>
    <div class="profile-edit__toast profile-edit__toast--error" id="toast-error" style="display:none;">
        <span class="profile-edit__toast-dot profile-edit__toast-dot--red"></span>
        Не удалось применить изменения
    </div>

    <h1 class="profile-edit__title">Редактирование</h1>
    <div class="profile-edit__avatar"></div>
    <div class="profile-edit__form-container"></div>
</div>