<div class="total-balance">
    <p class="total-balance__label">Общий баланс</p>
    <p class="total-balance__amount">
        <span class="total-balance__currency">{{currency}}</span><span class="balance__value">{{balance}}</span>
    </p>
</div>