<div>
    <a class="header_link" href="/" data-link><strong>MoneyFirst</strong></a>
    <a class="header_link" href="/balance" data-link>Баланс</a>
    <a class="header_link" href="/budget" data-link>Бюджет</a>
    <a class="header_link" data-link>Операции</a>
    <a class="header_link" data-link>Анализ</a>
    <a class="header_link" href="/profile" data-link>Профиль</a>
</div>
