<div>
    <a class="header_link" href="/" data-link><strong>MoneyFirst</strong></a>
    <a class="header_link" href="/balance" data-link>
        <img src="/icons/balance.svg" alt="баланс"> Баланс
    </a>
    <a class="header_link" href="/budget" data-link>
        <img src="/icons/budget.svg" alt="бюджет"> Бюджет
    </a>
    <a class="header_link" data-link>
        <img src="/icons/operation.svg" alt="операции"> Операции
    </a>
    <a class="header_link" data-link>
        <img src="/icons/analysis.svg" alt="анализ"> Анализ
    </a>
    <a class="header_link" href="/profile" data-link>
        <img src="/icons/profile.svg" alt="профиль">
    </a>
</div>