<div class="header">
    <a class="header__link header__link--brand" href="/" data-link><strong>MoneyFirst</strong></a>
    <button class="header__burger" aria-label="Меню">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav class="header__nav">
        <a class="header__link" href="/balance" data-link>
            <img src="/icons/balance.svg" alt="баланс"> Баланс
        </a>
        <a class="header__link" href="/budget" data-link>
            <img src="/icons/budget.svg" alt="бюджет"> Бюджет
        </a>
        <a class="header__link" href="/operations" data-link>
            <img src="/icons/operation.svg" alt="операции"> Операции
        </a>
        <a class="header__link" href="#">
            <img src="/icons/analysis.svg" alt="анализ"> Анализ
        </a>
        <a class="header__link header__link--profile" href="/profile" data-link>
            <img src="/icons/profile.svg" alt="профиль">
        </a>
    </nav>
    {{!-- Оверлей вынесен сюда, вне nav --}}
    <div class="header__overlay"></div>
</div>