<div class="income-balance">
    <p class="income-balance__label">Доходы</p>
    <p class="income-balance__amount">
        <span class="income-balance__currency">{{currency}}</span>{{balance}}
    </p>
</div>