.income_balance {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    border: grey solid 1px;
    margin-right: 5px;
}

.balance_value {
    font-size: 30px;
}
