<div class="income-balance">
    <p class="income-balance__label">Доходы</p>
    <p class="income-balance__amount">
        <img class="balance_up_icon" src="/icons/balance_up.png" alt=""><span class="income-balance__currency">{{currency}}</span><span class="balance__value">{{balance}}</span>
    </p>
</div>