<div class="income-balance">
    <p class="income-balance__label">Доходы</p>
    <p class="income-balance__amount">
        <img class="income-balance__icon income-balance__icon--up" src="/icons/balance_up.png" alt="">
        <span class="income-balance__currency">{{currency}}</span>
        <span class="income-balance__value">{{amount}}</span>
    </p>
</div>