<div class="profile-info">
    <div class="profile-info__card profile-info__card--wide">
        <div class="profile-info__label">Дата регистрации</div>
        <div class="profile-info__value">{{created_at}}</div>
    </div>
</div>