<div class="profile-info">
    <div class="profile-info__card">
        <div class="profile-info__label">Логин</div>
        <div class="profile-info__value">{{username}}</div>
    </div>
    <div class="profile-info__card">
        <div class="profile-info__label">Email</div>
        <div class="profile-info__value">{{email}}</div>
    </div>
    <div class="profile-info__card profile-info__card--wide">
        <div class="profile-info__label">Дата регистрации</div>
        <div class="profile-info__value">{{created_at}}</div>
    </div>
</div>