$color-accent-primary: #646cff;

$color-accent-hover-dark-scheme: #535bf2;
$color-accent-hover-light-scheme: #747bff;

$color-accent-logo-shadow: #646cffaa;
$color-vanilla-logo-shadow: #f7df1eaa;

$color-text-docs-muted: #888;

$color-surface-button-dark-scheme: #1a1a1a;
$color-surface-root-dark-scheme: #242424;
$color-text-root-dark-scheme: rgb(255 255 255 / 87%);

$color-text-root-light-scheme: #213547;
$color-surface-root-light-scheme: #fff;
$color-surface-button-light-scheme: #f9f9f9;

$color-surface-back-button: rgb(255 255 255 / 5%);
$color-border-back-button: rgb(255 255 255 / 10%);
$color-text-back-button: rgb(255 255 255 / 60%);
$color-surface-back-button-hover: rgb(72 79 255 / 12%);
$color-border-back-button-hover: rgb(72 79 255 / 35%);
$color-text-back-button-hover: rgb(255 255 255 / 90%);
