.budget-card__subdesc {
    font-size: 12px;
    color: #888;
    margin: 4px 0 0;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.budget_value {
    max-width: 90%;
    overflow-wrap: break-word;
}
